.wrap {
  display: grid;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 25px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.wrap::before {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #8d53ff;
}

.wrap:hover::before {
  opacity: 0.15;
  transition: opacity 0.4s ease;
}
