@use '../../variables.modules' as *;

.terminal {
  margin-top: 50px;
  border-radius: 0.5rem;

  p,
  li {
    color: $light;
    font-size: 1.2rem;

    @media only screen and (min-width: 900px) {
      font-size: 1.5rem;
    }
  }
}

.circle {
  display: inline-block;
  margin: 0.4rem 0.4rem 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  &.red {
    background-color: $red;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.green {
    background-color: $green;
  }
}
