@import "../../variables.modules";

.avatar {
  @media only screen and (max-width: 900px) {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

h1 {
  font-size: 3rem;
  text-align: left;

  @media only screen and (max-width: 900px) {
    font-size: 2rem;
    text-align: center;
  }
}

h2 {
  font-size: 2rem;
  text-align: left;

  @media only screen and (max-width: 900px) {
    font-size: 1.25rem;
    text-align: center;
  }
}

a > i:hover {
  color: $purple;
  transition: color 400ms ease;
}

.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
