@import "../variables.modules";

.dark {
  color: $white;

  a,
  i,
  li {
    color: $white;
  }

  a:hover {
    color: $purple;
    transition: color 400ms ease;
  }

  footer {
    color: $white;
  }
}

.light {
  color: $dark;

  a,
  i,
  li {
    color: $dark;
  }

  a:hover {
    color: $purple;
    transition: color 400ms ease;
  }

  footer {
    color: $dark;
  }
}
