@import '../variables.modules';

.dark {
  color-scheme: dark;
  color: $light;

  a {
    color: $light;
  }

  a:hover,
  a:focus {
    color: $primary;
    transition: color 0.4s ease;
  }
}

.light {
  color-scheme: light;
  color: $dark;

  a {
    color: $dark;
  }

  a:hover,
  a:focus {
    color: $secondary;
    transition: color 0.4s ease;
  }
}
