@import "../variables.modules";

* {
  scrollbar-color: #8d53ff transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #8d53ff;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

.dark {
  color: $white;

  a,
  i,
  li {
    color: $white;
  }

  footer {
    color: $white;
  }
}

.light {
  color: $dark;

  a,
  i,
  li {
    color: $dark;
  }

  footer {
    color: $dark;
  }
}
